<div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-xs-12 about-company">
          <h2>GREEN BEE<fa-icon class="ml-2" [icon]="faForumbee"></fa-icon></h2>
          <p class="pr-5 text-white-50">2. Abgabe der Vorlesung Software Engineering 
              <br/>Luca Sollwedel, Marcel Schnabel, Maximilian Bode<br/>
              <br/> Prof. Dr. Jürgen Zimmermann</p>
          <p><a href="https://de-de.facebook.com/HsKA.IWI"><fa-icon class="mr-2" [icon]="faFacebook" size="2x"></fa-icon></a>
            <a href="https://de.linkedin.com/school/hochschule-karlsruhe---technik-und-wirtschaft/">
              <fa-icon class="mr-2" [icon]="faLinkedin" size="2x"></fa-icon></a></p>
        </div>
        <div class="col-lg-3 col-xs-12 links">
          <h4 class="mt-lg-0 mt-sm-3"><fa-icon class="mr-2" [icon]="faLink"></fa-icon>Links</h4>
            <ul class="m-0 p-0">
              <li>- <a href="https://github.com/the-magic-max/kundenverwaltung">GitHub</a></li>
              <li>- <a href="https://beemission.com/">Save the Bees</a></li>
              <li>- <a href="https://goo.gl/maps/FYEdTxBCBQYfZXzk6">Sierra Leone</a></li>
            </ul>
        </div>
        <div class="col-lg-4 col-xs-12 location">
          
          <h4 class="mt-lg-0 mt-sm-4"><fa-icon class="mr-2" [icon]="faMapMarkerAlt"></fa-icon>Location</h4>
          <p>Hochschule Karlsruhe Technik & Wirtschaft <br/>
            Moltkestraße 30, 76133 Karlsruhe</p>
          <p class="mb-0">
              <fa-icon class="mr-2" [icon]="faPhone"></fa-icon>  (+49) 1525-301054 </p>
          <p>
              <fa-icon class="mr-2" [icon]="faEnvelope"></fa-icon>  info@hska.de </p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col copyright">
          <p class=""><small class="text-white-50">© Gruppe 10 SWE 2020. All Rights Reserved.</small></p>
        </div>
      </div>
    </div>
</div>