
<div class="mt-2">
    <hs-waiting *ngIf="waiting; else suchergebnis"></hs-waiting>

    <ng-template #suchergebnis>
        <div class="card" *ngIf="kunden.length; else showErrorMsg">
            <div class="card-header">
                <fa-icon [icon]="faFolderOpen"></fa-icon>
                <span class="ml-1 font-weight-bold">Gefundene Kunden</span>
            </div>
            <div class="card-body">
                <table
                    class="table table-striped table-hover table-responsive"
                    [@easeIn]="'in'"
                >
                    <thead class="thead-default">
                        <tr>
                            <th>Nr.</th>
                            <th>ID</th>
                            <th>Nachname</th>
                            <th>Email</th>
                            <th>Familienstand</th>
                            <th>Interessen</th>
                            <th>
                                <span class="sr-only">
                                    Spalte f&uuml;r Details
                                </span>
                            </th>
                            <th *ngIf="isAdmin">
                                <span class="sr-only">
                                    Spalte f&uuml;r Entfernen
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Template Binding: ngFor -->
                        <!-- Event-Binding: statt (click) auch on-click -->
                        <!-- ts als Komponente: https://stackoverflow.com/questions/34556277/angular2-table-rows-as-component -->
                        <tr
                            *ngFor="let b of kunden; index as i"
                            (click)="onSelect(b)"
                            [@easeOut]="'in'"
                        >
                            <td>{{ i + 1 }}</td>
                            <td>{{ b._id }}</td>
                            <td>{{ b.nachname }}</td>
                            <td>{{ b.email }}</td>
                            <td>
                                <span [ngSwitch]="b.familienstand">
                                    <span *ngSwitchCase="'VH'"
                                        >Verheiratet</span
                                    >
                                    <span *ngSwitchCase="'G'">
                                        Geschieden
                                    </span>
                                    <span *ngSwitchCase="'VW'"
                                        >Verwitwet</span
                                    >
                                    <span *ngSwitchCase="'L'"
                                        >Ledig</span
                                    >
                                    <span *ngSwitchDefault>unbekannt</span>
                                </span>
                            </td>
                            <td>
                                <span *ngFor="let sw of b.interessen">
                                    <span [ngSwitch]="sw">
                                        <span *ngSwitchCase="'L'">
                                            Lesen<br />
                                        </span>
                                        <span *ngSwitchCase="'S'">
                                            Sport
                                        </span>
                                        <span *ngSwitchCase="'R'">
                                            Reisen<br />
                                        </span>
                                    </span>
                                </span>
                            </td>
                            <td>
                                <!-- Pfad detailsKunde/:id, in routes.ts -->
                                <!-- modaler Dialog als Alternative: -->
                                <!--
                                        https://getbootstrap.com/docs/4.0/components/modal
                                    -->
                                <a
                                    [routerLink]="['/details', b._id]"
                                    title="Details anzeigen"
                                >
                                    <fa-icon [icon]="faSearchPlus"></fa-icon>
                                </a>
                            </td>
                            <td *ngIf="isAdmin">
                                <a (click)="onRemove(b)" title="Entfernen">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div>
                    <fa-icon [icon]="faInfoCircle"></fa-icon>
                    <span class="ml-1" [ngPlural]="kunden.length">
                        <!-- zu vergleichender Ausdruck -->
                        <ng-template ngPluralCase="=0">
                            Es gibt keinen Kunden
                        </ng-template>
                        <ng-template ngPluralCase="=1">
                            Es gibt einen Kunden
                        </ng-template>
                        <ng-template ngPluralCase="other">
                            Es gibt {{ kunden.length }} Kunden
                        </ng-template>
                    </span>
                </div>

                
            </div>
        </div>

        <!--
            Ausgabe des JSON-Datensatzes im Webbrowser statt console.log(...)
        -->
        <!-- <pre>{{kunden | json}}</pre> -->

        <ng-template #showErrorMsg>
            <hs-error-message [text]="errorMsg"></hs-error-message>
        </ng-template>
    </ng-template>
</div>
