<div class="form-group row">
    <label for="interessenInput" class="col col-2 form-control-label">
        Interessen
    </label>
    <div class="col col-10" [formGroup]="form">
        <div class="checkbox">
            <input
                type="checkbox"
                id="sportInput"
                formControlName="sport"
            />
            <label for="sportInput" class="ml-2">Sport</label>
        </div>

        <div class="checkbox">
            <input
                type="checkbox"
                id="lesenInput"
                formControlName="lesen"
            />
            <label for="lesenInput" class="ml-2">Lesen</label>
        </div>

        <div class="checkbox">
            <input
                type="checkbox"
                id="reisenInput"
                formControlName="reisen"
            />
            <label for="reisenInput" class="ml-2">Reisen</label>
        </div>
    </div>
</div>
